
@{
    ViewBag.Title = "Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chart</h2>

<div class="col-md-4">

</div>
<div class="col-md-4">
    <img src="@Url.Action("Chart")" />
</div>
<div class="col-md-4">
</div>

<div class="col-md-4">
</div>



